/****** Object:  Database [HotelDB]    Script Date: 28/09/2026 00:39:14 ******/
CREATE DATABASE [HotelDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelDB', FILENAME = N'C:\Users\USER\OneDrive\Desktop\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelDB_log', FILENAME = N'C:\Users\USER\OneDrive\Desktop\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 28/09/2026 00:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ClienteId] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [nvarchar](20) NOT NULL,
	[NumeroDocumento] [nvarchar](20) NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[Apellidos] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Correo] [nvarchar](120) NULL,
	[Direccion] [nvarchar](200) NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 28/09/2026 00:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[NombreCliente] [varchar](50) NOT NULL,
	[NombreContacto] [varchar](50) NULL,
	[Pais] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsumoMinibar]    Script Date: 28/09/2026 00:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumoMinibar](
	[ConsumoMinibarId] [int] IDENTITY(1,1) NOT NULL,
	[EstanciaId] [int] NOT NULL,
	[ProductoMinibarId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[FechaConsumo] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ConsumoMinibar] PRIMARY KEY CLUSTERED 
(
	[ConsumoMinibarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleFactura]    Script Date: 28/09/2026 00:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[DetalleFacturaId] [int] IDENTITY(1,1) NOT NULL,
	[FacturaId] [int] NOT NULL,
	[Descripcion] [nvarchar](250) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_DetalleFactura] PRIMARY KEY CLUSTERED 
(
	[DetalleFacturaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estancia]    Script Date: 28/09/2026 00:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estancia](
	[EstanciaId] [int] IDENTITY(1,1) NOT NULL,
	[ReservaId] [int] NOT NULL,
	[FechaCheckIn] [datetime2](7) NOT NULL,
	[FechaCheckOut] [datetime2](7) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
 CONSTRAINT [PK_Estancia] PRIMARY KEY CLUSTERED 
(
	[EstanciaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 28/09/2026 00:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[FacturaId] [int] IDENTITY(1,1) NOT NULL,
	[EstanciaId] [int] NOT NULL,
	[NumeroFactura] [nvarchar](30) NOT NULL,
	[FechaEmision] [datetime2](7) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[Impuesto] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[MetodoPago] [nvarchar](30) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[FacturaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitacion]    Script Date: 28/09/2026 00:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitacion](
	[HabitacionId] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [nvarchar](10) NOT NULL,
	[Piso] [int] NOT NULL,
	[TipoHabitacionId] [int] NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
 CONSTRAINT [PK_Habitacion] PRIMARY KEY CLUSTERED 
(
	[HabitacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoMinibar]    Script Date: 28/09/2026 00:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoMinibar](
	[ProductoMinibarId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ProductoMinibar] PRIMARY KEY CLUSTERED 
(
	[ProductoMinibarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 28/09/2026 00:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[ReservaId] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[HabitacionId] [int] NOT NULL,
	[FechaReserva] [datetime2](7) NOT NULL,
	[FechaEntrada] [date] NOT NULL,
	[FechaSalida] [date] NOT NULL,
	[CantidadHuespedes] [int] NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[ReservaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoHabitacion]    Script Date: 28/09/2026 00:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoHabitacion](
	[TipoHabitacionId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Capacidad] [int] NOT NULL,
	[PrecioPorNoche] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_TipoHabitacion] PRIMARY KEY CLUSTERED 
(
	[TipoHabitacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ClienteId], [TipoDocumento], [NumeroDocumento], [Nombres], [Apellidos], [Telefono], [Correo], [Direccion], [FechaRegistro]) VALUES (1, N'DNI', N'70000001', N'Juan', N'Perez Lopez', N'999111222', N'juan.perez@email.com', N'Cajamarca', CAST(N'2026-09-26T23:11:51.2552588' AS DateTime2))
INSERT [dbo].[Cliente] ([ClienteId], [TipoDocumento], [NumeroDocumento], [Nombres], [Apellidos], [Telefono], [Correo], [Direccion], [FechaRegistro]) VALUES (2, N'DNI', N'70000002', N'Maria', N'Garcia Torres', N'999333444', N'maria.garcia@email.com', N'Cajamarca', CAST(N'2026-09-26T23:11:51.2552588' AS DateTime2))
INSERT [dbo].[Cliente] ([ClienteId], [TipoDocumento], [NumeroDocumento], [Nombres], [Apellidos], [Telefono], [Correo], [Direccion], [FechaRegistro]) VALUES (3, N'DNI', N'70000003', N'Carlos', N'Ramirez Flores', N'999555666', N'carlos.ramirez@email.com', N'Lima', CAST(N'2026-09-26T23:11:51.2552588' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
INSERT [dbo].[Clientes] ([NombreCliente], [NombreContacto], [Pais]) VALUES (N'John Smith', N'Jenny', N'USA')
INSERT [dbo].[Clientes] ([NombreCliente], [NombreContacto], [Pais]) VALUES (N'Pablo', N'Manuel', N'Canada')
INSERT [dbo].[Clientes] ([NombreCliente], [NombreContacto], [Pais]) VALUES (N'alkska', N'Manuel', N'Australia')
GO
SET IDENTITY_INSERT [dbo].[ConsumoMinibar] ON 

INSERT [dbo].[ConsumoMinibar] ([ConsumoMinibarId], [EstanciaId], [ProductoMinibarId], [Cantidad], [PrecioUnitario], [FechaConsumo]) VALUES (1, 1, 1, 2, CAST(4.00 AS Decimal(10, 2)), CAST(N'2026-09-26T23:11:51.2866331' AS DateTime2))
INSERT [dbo].[ConsumoMinibar] ([ConsumoMinibarId], [EstanciaId], [ProductoMinibarId], [Cantidad], [PrecioUnitario], [FechaConsumo]) VALUES (2, 1, 2, 1, CAST(5.00 AS Decimal(10, 2)), CAST(N'2026-09-26T23:11:51.2866331' AS DateTime2))
INSERT [dbo].[ConsumoMinibar] ([ConsumoMinibarId], [EstanciaId], [ProductoMinibarId], [Cantidad], [PrecioUnitario], [FechaConsumo]) VALUES (3, 1, 4, 1, CAST(6.00 AS Decimal(10, 2)), CAST(N'2026-09-26T23:11:51.2866331' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ConsumoMinibar] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleFactura] ON 

INSERT [dbo].[DetalleFactura] ([DetalleFacturaId], [FacturaId], [Descripcion], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (1, 1, N'Hospedaje', 2, CAST(180.00 AS Decimal(10, 2)), CAST(360.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleFactura] ([DetalleFacturaId], [FacturaId], [Descripcion], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (2, 1, N'Minibar - Agua mineral', 2, CAST(4.00 AS Decimal(10, 2)), CAST(8.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleFactura] ([DetalleFacturaId], [FacturaId], [Descripcion], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (3, 1, N'Minibar - Gaseosa', 1, CAST(5.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleFactura] OFF
GO
SET IDENTITY_INSERT [dbo].[Estancia] ON 

INSERT [dbo].[Estancia] ([EstanciaId], [ReservaId], [FechaCheckIn], [FechaCheckOut], [Estado], [Observaciones]) VALUES (1, 1, CAST(N'2026-09-25T23:11:51.2757430' AS DateTime2), CAST(N'2026-09-27T02:38:34.7057968' AS DateTime2), N'Finalizada', N'Estancia utilizada para probar el proceso de Check-Out.')
INSERT [dbo].[Estancia] ([EstanciaId], [ReservaId], [FechaCheckIn], [FechaCheckOut], [Estado], [Observaciones]) VALUES (2, 2, CAST(N'2026-09-25T02:54:30.7810393' AS DateTime2), CAST(N'2026-09-27T20:30:35.6664199' AS DateTime2), N'Finalizada', N'Estancia creada para prueba de Rollback')
INSERT [dbo].[Estancia] ([EstanciaId], [ReservaId], [FechaCheckIn], [FechaCheckOut], [Estado], [Observaciones]) VALUES (8, 13, CAST(N'2026-09-27T22:19:58.0233333' AS DateTime2), CAST(N'2026-09-27T22:32:03.2898541' AS DateTime2), N'Finalizada', NULL)
SET IDENTITY_INSERT [dbo].[Estancia] OFF
GO
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([FacturaId], [EstanciaId], [NumeroFactura], [FechaEmision], [Subtotal], [Impuesto], [Total], [MetodoPago], [Estado]) VALUES (1, 1, N'F-20260927023834711', CAST(N'2026-09-27T02:38:34.7057968' AS DateTime2), CAST(379.00 AS Decimal(10, 2)), CAST(68.22 AS Decimal(10, 2)), CAST(447.22 AS Decimal(10, 2)), N'Efectivo', N'Emitida')
INSERT [dbo].[Factura] ([FacturaId], [EstanciaId], [NumeroFactura], [FechaEmision], [Subtotal], [Impuesto], [Total], [MetodoPago], [Estado]) VALUES (4, 2, N'F-20260927203035669', CAST(N'2026-09-27T20:30:35.6664199' AS DateTime2), CAST(244.00 AS Decimal(10, 2)), CAST(43.92 AS Decimal(10, 2)), CAST(287.92 AS Decimal(10, 2)), N'Efectivo', N'Emitida')
INSERT [dbo].[Factura] ([FacturaId], [EstanciaId], [NumeroFactura], [FechaEmision], [Subtotal], [Impuesto], [Total], [MetodoPago], [Estado]) VALUES (6, 8, N'F-20260927223203292', CAST(N'2026-09-27T22:32:03.2898541' AS DateTime2), CAST(200.00 AS Decimal(10, 2)), CAST(36.00 AS Decimal(10, 2)), CAST(236.00 AS Decimal(10, 2)), N'Efectivo', N'Emitida')
SET IDENTITY_INSERT [dbo].[Factura] OFF
GO
SET IDENTITY_INSERT [dbo].[Habitacion] ON 

INSERT [dbo].[Habitacion] ([HabitacionId], [Numero], [Piso], [TipoHabitacionId], [Estado], [Descripcion]) VALUES (1, N'101', 1, 1, N'Disponible', N'Habitación individual')
INSERT [dbo].[Habitacion] ([HabitacionId], [Numero], [Piso], [TipoHabitacionId], [Estado], [Descripcion]) VALUES (2, N'102', 1, 2, N'Limpieza', N'Habitación doble')
INSERT [dbo].[Habitacion] ([HabitacionId], [Numero], [Piso], [TipoHabitacionId], [Estado], [Descripcion]) VALUES (3, N'103', 1, 3, N'Disponible', N'Habitación matrimonial')
SET IDENTITY_INSERT [dbo].[Habitacion] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductoMinibar] ON 

INSERT [dbo].[ProductoMinibar] ([ProductoMinibarId], [Nombre], [Descripcion], [Precio], [Stock], [Estado]) VALUES (1, N'Agua mineral', N'Botella de agua mineral de 500 ml', CAST(4.00 AS Decimal(10, 2)), 46, N'Activo')
INSERT [dbo].[ProductoMinibar] ([ProductoMinibarId], [Nombre], [Descripcion], [Precio], [Stock], [Estado]) VALUES (2, N'Gaseosa', N'Gaseosa personal', CAST(5.00 AS Decimal(10, 2)), 35, N'Activo')
INSERT [dbo].[ProductoMinibar] ([ProductoMinibarId], [Nombre], [Descripcion], [Precio], [Stock], [Estado]) VALUES (3, N'Jugo', N'Jugo en botella', CAST(5.50 AS Decimal(10, 2)), 30, N'Activo')
SET IDENTITY_INSERT [dbo].[ProductoMinibar] OFF
GO
SET IDENTITY_INSERT [dbo].[Reserva] ON 

INSERT [dbo].[Reserva] ([ReservaId], [ClienteId], [HabitacionId], [FechaReserva], [FechaEntrada], [FechaSalida], [CantidadHuespedes], [Estado], [Observaciones]) VALUES (1, 1, 2, CAST(N'2026-09-26T23:11:51.2678790' AS DateTime2), CAST(N'2026-09-26' AS Date), CAST(N'2026-09-29' AS Date), 2, N'Completada', N'Reserva utilizada para pruebas del sistema.')
INSERT [dbo].[Reserva] ([ReservaId], [ClienteId], [HabitacionId], [FechaReserva], [FechaEntrada], [FechaSalida], [CantidadHuespedes], [Estado], [Observaciones]) VALUES (2, 1, 1, CAST(N'2026-09-27T02:54:30.7810393' AS DateTime2), CAST(N'2026-09-25' AS Date), CAST(N'2026-09-28' AS Date), 2, N'Completada', N'Reserva realizada')
INSERT [dbo].[Reserva] ([ReservaId], [ClienteId], [HabitacionId], [FechaReserva], [FechaEntrada], [FechaSalida], [CantidadHuespedes], [Estado], [Observaciones]) VALUES (13, 4, 6, CAST(N'2026-09-27T22:18:33.2707558' AS DateTime2), CAST(N'2026-09-27' AS Date), CAST(N'2026-09-28' AS Date), 1, N'Completada', NULL)
SET IDENTITY_INSERT [dbo].[Reserva] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoHabitacion] ON 

INSERT [dbo].[TipoHabitacion] ([TipoHabitacionId], [Nombre], [Descripcion], [Capacidad], [PrecioPorNoche]) VALUES (1, N'Individual', N'Habitación para una persona', 1, CAST(120.00 AS Decimal(10, 2)))
INSERT [dbo].[TipoHabitacion] ([TipoHabitacionId], [Nombre], [Descripcion], [Capacidad], [PrecioPorNoche]) VALUES (2, N'Doble', N'Habitación para dos personas', 2, CAST(180.00 AS Decimal(10, 2)))
INSERT [dbo].[TipoHabitacion] ([TipoHabitacionId], [Nombre], [Descripcion], [Capacidad], [PrecioPorNoche]) VALUES (3, N'Matrimonial', N'Habitación con cama matrimonial', 2, CAST(200.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[TipoHabitacion] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Cliente_Documento]    Script Date: 28/09/2026 00:39:14 ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [UQ_Cliente_Documento] UNIQUE NONCLUSTERED 
(
	[TipoDocumento] ASC,
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConsumoMinibar_Estancia]    Script Date: 28/09/2026 00:39:14 ******/
CREATE NONCLUSTERED INDEX [IX_ConsumoMinibar_Estancia] ON [dbo].[ConsumoMinibar]
(
	[EstanciaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Estancia_Reserva]    Script Date: 28/09/2026 00:39:14 ******/
ALTER TABLE [dbo].[Estancia] ADD  CONSTRAINT [UQ_Estancia_Reserva] UNIQUE NONCLUSTERED 
(
	[ReservaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Factura_Estancia]    Script Date: 28/09/2026 00:39:14 ******/
ALTER TABLE [dbo].[Factura] ADD  CONSTRAINT [UQ_Factura_Estancia] UNIQUE NONCLUSTERED 
(
	[EstanciaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Factura_Numero]    Script Date: 28/09/2026 00:39:14 ******/
ALTER TABLE [dbo].[Factura] ADD  CONSTRAINT [UQ_Factura_Numero] UNIQUE NONCLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Habitacion_Numero]    Script Date: 28/09/2026 00:39:14 ******/
ALTER TABLE [dbo].[Habitacion] ADD  CONSTRAINT [UQ_Habitacion_Numero] UNIQUE NONCLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ProductoMinibar_Nombre]    Script Date: 28/09/2026 00:39:14 ******/
ALTER TABLE [dbo].[ProductoMinibar] ADD  CONSTRAINT [UQ_ProductoMinibar_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reserva_FechaEntrada]    Script Date: 28/09/2026 00:39:14 ******/
CREATE NONCLUSTERED INDEX [IX_Reserva_FechaEntrada] ON [dbo].[Reserva]
(
	[FechaEntrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reserva_Habitacion]    Script Date: 28/09/2026 00:39:14 ******/
CREATE NONCLUSTERED INDEX [IX_Reserva_Habitacion] ON [dbo].[Reserva]
(
	[HabitacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TipoHabitacion_Nombre]    Script Date: 28/09/2026 00:39:14 ******/
ALTER TABLE [dbo].[TipoHabitacion] ADD  CONSTRAINT [UQ_TipoHabitacion_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_FechaRegistro]  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ConsumoMinibar] ADD  CONSTRAINT [DF_ConsumoMinibar_FechaConsumo]  DEFAULT (sysdatetime()) FOR [FechaConsumo]
GO
ALTER TABLE [dbo].[Factura] ADD  CONSTRAINT [DF_Factura_FechaEmision]  DEFAULT (sysdatetime()) FOR [FechaEmision]
GO
ALTER TABLE [dbo].[Reserva] ADD  CONSTRAINT [DF_Reserva_FechaReserva]  DEFAULT (sysdatetime()) FOR [FechaReserva]
GO
ALTER TABLE [dbo].[ConsumoMinibar]  WITH CHECK ADD  CONSTRAINT [FK_ConsumoMinibar_Estancia] FOREIGN KEY([EstanciaId])
REFERENCES [dbo].[Estancia] ([EstanciaId])
GO
ALTER TABLE [dbo].[ConsumoMinibar] CHECK CONSTRAINT [FK_ConsumoMinibar_Estancia]
GO
ALTER TABLE [dbo].[ConsumoMinibar]  WITH CHECK ADD  CONSTRAINT [FK_ConsumoMinibar_Producto] FOREIGN KEY([ProductoMinibarId])
REFERENCES [dbo].[ProductoMinibar] ([ProductoMinibarId])
GO
ALTER TABLE [dbo].[ConsumoMinibar] CHECK CONSTRAINT [FK_ConsumoMinibar_Producto]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFactura_Factura] FOREIGN KEY([FacturaId])
REFERENCES [dbo].[Factura] ([FacturaId])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_DetalleFactura_Factura]
GO
ALTER TABLE [dbo].[Estancia]  WITH CHECK ADD  CONSTRAINT [FK_Estancia_Reserva] FOREIGN KEY([ReservaId])
REFERENCES [dbo].[Reserva] ([ReservaId])
GO
ALTER TABLE [dbo].[Estancia] CHECK CONSTRAINT [FK_Estancia_Reserva]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Estancia] FOREIGN KEY([EstanciaId])
REFERENCES [dbo].[Estancia] ([EstanciaId])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Estancia]
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD  CONSTRAINT [FK_Habitacion_TipoHabitacion] FOREIGN KEY([TipoHabitacionId])
REFERENCES [dbo].[TipoHabitacion] ([TipoHabitacionId])
GO
ALTER TABLE [dbo].[Habitacion] CHECK CONSTRAINT [FK_Habitacion_TipoHabitacion]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Cliente] ([ClienteId])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cliente]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Habitacion] FOREIGN KEY([HabitacionId])
REFERENCES [dbo].[Habitacion] ([HabitacionId])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Habitacion]
GO
ALTER TABLE [dbo].[ConsumoMinibar]  WITH CHECK ADD  CONSTRAINT [CK_ConsumoMinibar_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[ConsumoMinibar] CHECK CONSTRAINT [CK_ConsumoMinibar_Cantidad]
GO
ALTER TABLE [dbo].[ConsumoMinibar]  WITH CHECK ADD  CONSTRAINT [CK_ConsumoMinibar_Precio] CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[ConsumoMinibar] CHECK CONSTRAINT [CK_ConsumoMinibar_Precio]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [CK_DetalleFactura_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [CK_DetalleFactura_Cantidad]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [CK_DetalleFactura_Precio] CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [CK_DetalleFactura_Precio]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [CK_DetalleFactura_Subtotal] CHECK  (([Subtotal]>=(0)))
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [CK_DetalleFactura_Subtotal]
GO
ALTER TABLE [dbo].[Estancia]  WITH CHECK ADD  CONSTRAINT [CK_Estancia_Estado] CHECK  (([Estado]='Cancelada' OR [Estado]='Finalizada' OR [Estado]='Activa'))
GO
ALTER TABLE [dbo].[Estancia] CHECK CONSTRAINT [CK_Estancia_Estado]
GO
ALTER TABLE [dbo].[Estancia]  WITH CHECK ADD  CONSTRAINT [CK_Estancia_Fechas] CHECK  (([FechaCheckOut] IS NULL OR [FechaCheckOut]>=[FechaCheckIn]))
GO
ALTER TABLE [dbo].[Estancia] CHECK CONSTRAINT [CK_Estancia_Fechas]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [CK_Factura_Estado] CHECK  (([Estado]='Anulada' OR [Estado]='Emitida'))
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [CK_Factura_Estado]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [CK_Factura_Impuesto] CHECK  (([Impuesto]>=(0)))
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [CK_Factura_Impuesto]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [CK_Factura_MetodoPago] CHECK  (([MetodoPago]='Plin' OR [MetodoPago]='Yape' OR [MetodoPago]='Transferencia' OR [MetodoPago]='Tarjeta' OR [MetodoPago]='Efectivo'))
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [CK_Factura_MetodoPago]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [CK_Factura_Subtotal] CHECK  (([Subtotal]>=(0)))
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [CK_Factura_Subtotal]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [CK_Factura_Total] CHECK  (([Total]>=(0)))
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [CK_Factura_Total]
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD  CONSTRAINT [CK_Habitacion_Estado] CHECK  (([Estado]='Mantenimiento' OR [Estado]='Limpieza' OR [Estado]='Ocupada' OR [Estado]='Reservada' OR [Estado]='Disponible'))
GO
ALTER TABLE [dbo].[Habitacion] CHECK CONSTRAINT [CK_Habitacion_Estado]
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD  CONSTRAINT [CK_Habitacion_Piso] CHECK  (([Piso]>(0)))
GO
ALTER TABLE [dbo].[Habitacion] CHECK CONSTRAINT [CK_Habitacion_Piso]
GO
ALTER TABLE [dbo].[ProductoMinibar]  WITH CHECK ADD  CONSTRAINT [CK_ProductoMinibar_Estado] CHECK  (([Estado]='Inactivo' OR [Estado]='Activo'))
GO
ALTER TABLE [dbo].[ProductoMinibar] CHECK CONSTRAINT [CK_ProductoMinibar_Estado]
GO
ALTER TABLE [dbo].[ProductoMinibar]  WITH CHECK ADD  CONSTRAINT [CK_ProductoMinibar_Precio] CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[ProductoMinibar] CHECK CONSTRAINT [CK_ProductoMinibar_Precio]
GO
ALTER TABLE [dbo].[ProductoMinibar]  WITH CHECK ADD  CONSTRAINT [CK_ProductoMinibar_Stock] CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[ProductoMinibar] CHECK CONSTRAINT [CK_ProductoMinibar_Stock]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [CK_Reserva_Estado] CHECK  (([Estado]='Completada' OR [Estado]='Cancelada' OR [Estado]='Confirmada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [CK_Reserva_Estado]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [CK_Reserva_Fechas] CHECK  (([FechaSalida]>[FechaEntrada]))
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [CK_Reserva_Fechas]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [CK_Reserva_Huespedes] CHECK  (([CantidadHuespedes]>(0)))
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [CK_Reserva_Huespedes]
GO
ALTER TABLE [dbo].[TipoHabitacion]  WITH CHECK ADD  CONSTRAINT [CK_TipoHabitacion_Capacidad] CHECK  (([Capacidad]>(0)))
GO
ALTER TABLE [dbo].[TipoHabitacion] CHECK CONSTRAINT [CK_TipoHabitacion_Capacidad]
GO
ALTER TABLE [dbo].[TipoHabitacion]  WITH CHECK ADD  CONSTRAINT [CK_TipoHabitacion_Precio] CHECK  (([PrecioPorNoche]>=(0)))
GO
ALTER TABLE [dbo].[TipoHabitacion] CHECK CONSTRAINT [CK_TipoHabitacion_Precio]
GO
